cachetools>=4.2.4

importlib-metadata>=4.8.3
typing_extensions>=4.1.1
zipp>=3.6.0
click>=8.0.4

dataclasses>=0.8 ; python_version < '3.7.0'

protobuf<=3.19.4 ; python_version < '3.7.0'
protobuf>=3.19.0 ; python_version > '3.7.0'

mysql-connector-python>=8.0.29

git+https://github.com/MikeTheHammer/wmul_logger@v0.5.0#egg=wmul-logger
git+https://github.com/MikeTheHammer/wmul_emailer@v0.3.0#egg=wmul-emailer
./
